
#
# Modifications for Samsung Galaxy S7 Edge (hero2lte)
#
CONFIG_WLAN_HERO2=y
CONFIG_FB_DSU_REG_LOCK=y
CONFIG_EXYNOS_DECON_LCD_MCD=y
CONFIG_PANEL_S6E3HF4_WQHD=y
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=168
CONFIG_SENSORS_HERO2=y
